.image-box {
    height:250px ;
    width: 200px;
    overflow: hidden;
}

.hoverable {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.hoverable:hover {
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.btn1{
    background-color: rgb(6,62,38);
    color: white;
}

.categories{
    display: flex;
    align-items: center;
    justify-content: center;
}

.shadow-button {
    padding: 5px 32px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}


